In [3]:
import pandas as pd
pd.read_csv("https://github.com/firasm/bits/raw/master/fruits.csv")

   Fruit Name  Mass(g)  Colour  Rating
0       Apple      200     Red       8
1      Banana      250  Yellow       9
2  Cantoloupe      600  Orange      10

In [5]:
fruits = pd.read_csv("https://github.com/firasm/bits/raw/master/fruits.csv")
fruits

   Fruit Name  Mass(g)  Colour  Rating
0       Apple      200     Red       8
1      Banana      250  Yellow       9
2  Cantoloupe      600  Orange      10

In [8]:
fruits.head()

   Fruit Name  Mass(g)  Colour  Rating
0       Apple      200     Red       8
1      Banana      250  Yellow       9
2  Cantoloupe      600  Orange      10

In [9]:
fruits['Colour']

0       Red
1    Yellow
2    Orange
Name: Colour, dtype: object

In [10]:
fruits['Fruit Name']

0         Apple
1        Banana
2    Cantoloupe
Name: Fruit Name, dtype: object

In [11]:
fruits['Rating'].mean()

9.0

In [15]:
list(fruits.columns)

['Fruit Name', 'Mass(g)', 'Colour', 'Rating']