In [50]:
import pandas as pd

def load_and_process(filing_counts):
    df = (
        pd.read_csv("filing_counts.csv")
        .drop("for_total",axis=1)
        .drop("case_action",axis=1)
        .drop("age_group",axis=1)
        .set_index('state')
    )
    return df
df.head()

,state,year,case_action,case_type,age_group,count,for_total
0,Alaska,2020,Ambiguous,G+C+Joint,Adults+Minors,1171,Y
1,Alaska,2019,Ambiguous,G+C+Joint,Adults+Minors,1084,Y
2,Alaska,2018,Ambiguous,G+C+Joint,Adults+Minors,1227,Y
3,Alaska,2017,Ambiguous,G+C+Joint,Adults+Minors,1090,Y
4,Arizona,2020,Ambiguous,Guardianship ONLY,Adults ONLY,2520,Y

In [22]:
df.to_csv("Cleandata2.csv")

In [49]:
import pandas as pd
def load_and_process(filing_counts):
    df = (pd.read_csv("filing_counts.csv")
          .drop("for_total",axis=1)
          .drop("case_action",axis=1)
          .drop("age_group",axis=1)
          .set_index('state')
          .drop_duplicates(inplace=True)
         )
    return df
df.head()

,state,year,case_action,case_type,age_group,count,for_total
0,Alaska,2020,Ambiguous,G+C+Joint,Adults+Minors,1171,Y
1,Alaska,2019,Ambiguous,G+C+Joint,Adults+Minors,1084,Y
2,Alaska,2018,Ambiguous,G+C+Joint,Adults+Minors,1227,Y
3,Alaska,2017,Ambiguous,G+C+Joint,Adults+Minors,1090,Y
4,Arizona,2020,Ambiguous,Guardianship ONLY,Adults ONLY,2520,Y