In [20]:
import pandas as pd
df = pd.read_csv('filing_counts.csv')
df = df.drop("for_total",axis=1).drop("case_action",axis=1).drop("age_group",axis=1).set_index('state')
df.head()

         year          case_type  count
state
Alaska   2020          G+C+Joint   1171
Alaska   2019          G+C+Joint   1084
Alaska   2018          G+C+Joint   1227
Alaska   2017          G+C+Joint   1090
Arizona  2020  Guardianship ONLY   2520

In [ ]:
import pandas as pd
def load_and_process(filing_counts):
    df = pd.read_csv("filing_counts.csv")
    df = .drop("for_total",axis=1).drop("case_action",axis=1).drop("age_group",axis=1).set_index('state')